.Introduction1
{color: red
}

.Mother
{color: green

}
h1+em
{color: green}
p+em
{color: green
}
*
{font-size: 1em;}



p
{font-family: Arial
border:3px
padding:15px
}


body
{margin: 0px;
padding:px;
font-size:1em
}


*{
font-size: 1.1em;
  text-align: justify;
  }
h1
{text-align:center;}


p: hover {
  background-color: green;

color: green;}


@charset"utf-8";


.button_container {
width: 100%;
text-align : center;
}

#buton_modal {
     height: 50px
      width: 300px;
     background-color:#34495e;
     color: #8e44ad;
     font-family: helvetica;
     font-size: 20px;
     border: none;
     cursor: pointer;
     margin-top: 200px}

